* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.nav_logo {
  display: block;
}

.nav_logo #logo {
  position: relative;
  z-index: 2;
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  display: block;
  height: 55px;
  padding: 16px 20px;
  width: 106px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: gray;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  margin: 0;
  position: relative;
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  z-index: 4;
  color: #fff;
}

.img-container-1 {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  background-image: url('img/1.png');
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 1;
  z-index: 4;
  color: white;
}

.layer {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.img-container- h5 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 0;
}

.img-container- h1 {
  font-size: 22px;
}

.img-container-1 ul {
  padding-right: 50px;
}

.img-container-1 ul li {
  display: inline-block;
}

.img-container-2 {
  background-image: url('img/2.png');
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 1;
  z-index: 4;
}

.img-container-3 {
  background-image: url('img/3.png');
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 1;
  z-index: 4;
}

.section-2 {
  color: #000;
}

.section-2-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.content-picture {
  flex-basis: 20%;
  padding: 0;
}

.content {
  flex-basis: 80%;
  padding: 0;
  text-align: left;
}

.content p {
  margin-left: 4px;
  color: gray;
  display: inline-block;
}

.section-3-title {
  color: orangered;
}

.section-3-title h1 {
  position: relative;
  font-size: 22px;
}

.section-3-nav a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: orangered;
}

#section-3-ul {
  position: absolute;
  padding: 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #c09;
  width: 100%;
  position: relative;
}

.box-title {
  height: 50px;
  background-color: orangered;
}

.box-title h5 {
  color: white;
  padding-left: 100px;
}

.box-price {
  height: 70px;
  background-color: linen;
}

.box-price h5 {
  padding-left: 100px;
}

.box-picture {
  width: 80px;
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 1;
}

.box-picture img {
  width: 80px;
  height: 80px;
}

.box-content {
  background: snow;
  height: 200px;
}

.box-content img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 10px;
}

.box-content span {
  margin-right: 10px;
  margin-top: 10px;
}

.box-content hr {
  border-top: 0.5px solid orangered;
}

.title-first-img-4sec {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  color: orangered;
}

.first-img-fourth-section {
  position: relative;
  display: inline-block;
  text-align: left;
  color: #fff;
  background: url(./img/apple-1-368X276.png) no-repeat;
  width: 100%;
  height: 270px;
}

.gradient {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(3, 0, 0, 1));
  width: 65%;
  height: 120px;
}

.gradient h3 {
  font-family: var(--roboto-mono);
  font-size: 13px;
  color: #fff;
}

.gradient p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #fff;
}

.content-image {
  display: inline-block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
}

.description-first-img-fourth-section-content {
  display: flex;
}

.description-first-img-fourth-section-content-title {
  flex-basis: 80%;
  color: #f42;
  font-size: 12px;
  font-family: var(--roboto-mono);
}

.description-first-img-fourth-section-content-title p {
  overflow: hidden;
  font-size: 13px;
  color: #f42;
  margin-right: 20px;
  padding-left: 30px;
}

.flex-basis {
  flex-basis: 20%;
}

.description-first-img-fourth-section {
  display: block;
  background: url(./img/dark-mode-header-Cropped.png) no-repeat;
  width: 100px;
  height: 100px;
}

.list-first-img-fourth-section ul li {
  font-size: 14px;
  color: #000;
}

#lastest {
  padding-left: 30px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:last-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    color: orangered;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
